<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My dashboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
</head>
<body>
    <h1>My dashboard</h1>
    <p>connection status: <span id="status"></span></p>
    <p>motor 1 status: <span id="motor1"></span></p>
    <p>motor 2 status: <span id="motor2"></span></p>
    <p>lamp status: <span id="lamp"></span></p>
    <p>ev status: <span id="ev"></span></p>
</body>
<script src="script.js" type="text/javascript"></script>
</html>
